BLOOPE_DB_PATH=data/bloope.db
BLOOPE_CADDY_PORT=8081
BLOOPE_DEPLOYMENT_HOST_SUFFIX=localhost
BLOOPE_PUBLIC_SCHEME=http
BLOOPE_CONTAINER_PORT=8080
RAILPACK_USE_WSL=1
RAILPACK_WSL_DISTRO=Ubuntu
BUILDKIT_HOST=docker-container://bloope-buildkit
BLOOPE_GITHUB_TOKEN=
